body {
	font-family: 'Chewy', cursive;
	background-color: #F4FAFD;
}

/*hr {
	border-top: 1px solid #9ca897;
}*/

.container {
	padding-top: 4%;
}

.header {
	padding-bottom: 8%;
}

.header h1 {
	font-size: 400%;
	text-align: center;
}

/*html {
  position: relative;
  min-height: 90%;
}
body {
  margin-bottom: 60px;
}

#footer {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 40px 0px 40px 0px;
	text-align: center;
	position: absolute;
	bottom: 0;
	height: 60px;
}

.footer-container {
	padding-left: 0;
}*/

.start-screen {
	text-align: center; 
	padding-top: 20%;
}

.btn-start-screen {
	font-size: xx-large;
}

.stats-panel {
	opacity: 0;
	text-align: center;
}

@media(min-width: 768px) {
	.stats-panel {
		padding-bottom: 4%;
	}
}

.stats-row {
	padding-bottom: 1%;
}

@media(min-width: 768px) {
	.stats-row {
		padding-bottom: 0;
	}
}

.tile-stats {
	padding-right: 2%;
}

.level-text {
	font-size: large;
}

.grid {
	display: table;
	margin-left: auto;
	margin-right: auto;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 3px;
}

@media(min-width: 768px) {
	.grid {
		border-spacing: 5px;
	}
}

.grid-row {
	display: table-row;
}

.stats-tile {
	background-color: #d9edf7;
	padding: 5px;
	height: 25px;
	width: 25px;
	border-radius: 4px;
	margin-right: 2%;
	text-align: center;
	vertical-align: middle;
	position: relative;
	display: inline-block;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.grid-cell {
	display: table-cell;
	background-color: #d9edf7;
	border-right: 1px solid #98a6ad;
	border-bottom: 1px solid #98a6ad;
	border-radius: 2px;
	height: 30px;
	width: 30px;
	font-size: small;
	text-align: center;
	vertical-align: middle;
}

@media(min-width: 480px) {
	.grid-cell {
		border-right: 2px solid #98a6ad;
		border-bottom: 2px solid #98a6ad;
		border-radius: 4px;
	}
}

@media(min-width: 480px) {
	.grid-cell {
		height: 46px;
		width: 46px;
		font-size: large;
	}
}

@media(min-width: 768px) {
	.grid-cell {
		height: 75px;
		width: 75px;
		font-size: xx-large;
	}
}

.grid-cell.revealed {
	border-top: 1px solid #98a6ad;
	border-left: 1px solid #98a6ad;
	border-bottom: none;
	border-right: none;
}

@media(min-width: 480px) {
	.grid-cell.revealed {
		border-top: 2px solid #98a6ad;
		border-left: 2px solid #98a6ad;
	}
}

.grid-cell.dead {
	background-color: #E2E2E2;
}

.revealed.bad {
	color: red;
	background-color: #f2dede;
}

.revealed.neutral, .revealed.good {
	background-color: #dff0d8;
}

.revealed.gift {
	background-color: #FFEB99;
}

.glyphicon {
	vertical-align: -10%;
}